

<div class="method" >
<div class="card" *ngFor = 'let r of restaurant' (click) = "selectRestro(r)" >
    <div class="card-image">
      <figure class="image is-4by3">
        <img draggable="false" src="https://cdn.discordapp.com/attachments/507617354709204992/601461792354336769/123278.png" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img draggable="false" src="https://cdn.discordapp.com/attachments/553737537068204042/601511845366464562/PokecordSpawn.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{r.name}}</p>
          <p class="subtitle is-6">{{r.email}}</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris.        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</div>