<!-- <div *ngFor = 'let m in menuitem'>
    <table>
        <thead>
            <tr>
                <th>Restaurant id</th>
                <th>Menu</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <tr>{{m.rest_id}}</tr>
                <tr>{{m.name}}</tr>
                <tr>{{m.cost}}</tr>
            </td>
        </tbody>
    </table>
</div> -->
<P>restrodetails.component.html</P>