
<div class = "tab">
        <h1 class="title is-1">Select your dish</h1>
    <table class = "table is-striped" >
        <thead >
            <tr>
            <td>Restaurant id</td>
            <td>Dish</td>
            <td>Cost</td>
            <td></td>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor = 'let m of menus'>
            <td>{{m.rest_id}}</td>
            <td>{{m.name}}</td>
            <td>{{m.cost}}</td>
            <td><button class = "button is-primary" (click) = "AddOrder()">Add</button></td>
            </tr>
        </tbody>
    </table>
</div>
