<div class="forms" >
        <h1>Log in</h1>
        <form action="" [formGroup] = "loginForm" >
            <!-- EMAIL -->
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" formControlName = "email">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
              <!-- PASSWORD -->
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" formControlName = "password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="center">
        
              <a class="button is-primary" type = "submit" (click) = "login()">login</a>
            </div>
        </form>
</div>
