.forms
{
    margin:0 auto;
    width:25%;
    padding:20px;
    margin-top: 10%;
}

h1
{
    padding:12px 0;
    margin-left:36%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #00D1B2;
}

.center
{
    margin-left:38%;
}

input
{
    border:1px solid seagreen;
    opacity: 0.9;
    outline:none;
}

input:focus
{
    opacity: 1;
}

/* .button
{
    background:grey;
}

.button:hover
{
    background:linear-gradient(90deg,grey,white);
} */