<div class="forms" >
    <h1>Customer sign up</h1>
    <form action="" [formGroup] = "signupForm" >
      <!-- NAME -->
    <div class="field">
            <p class="control has-icons-left ">
              <input class="input" type="text" placeholder="Name" formControlName = "name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <!-- MOBILE NUMBER -->
          <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Mobile number" formControlName = "mob">
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                  </span>
                </p>
              </div>
              <!-- EMAIL -->
              <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="email" placeholder="Email" formControlName = "email">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
      <!-- CITY -->
    <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="City" formControlName = "city">
          <span class="icon is-small is-left">
            <i class="fas fa-car"></i>
          </span>
        </p>
      </div>
      <!-- PASSWORD -->
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" formControlName = "password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="center">

      <a class="button is-primary" type = "submit" (click) = "signup()">Sign up</a>
      </div>
      </form>
</div>
<div>


</div>